.user-detail-header {
    width: 100%;
    min-height: 250px;
    background-color: orange;
    color: white;
    display: flex;
    align-items: flex-end;
    img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    h2 {
        margin-bottom: 0;
    }
}